/* 全局及容器
这部分包含了容器的初始化以及全局设定 */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
div.container{
    margin: 0 auto;
    max-width: 800px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/* 标题部分 */
div.headtitle{
    padding: .5em;
    font-size: 2em;
}

/* 展示类文字面板部分 */
div.textpanel{
    padding: .5em;
    border-radius: .8em;
    color: gray;
    font-size: 1em;
    background-color: aqua;
}
div.textpanel:hover{
    background-color: yellow;
}
div.textpanel title{
    display: block;
    color: black;
    font-size: 2em;
}